.card-container {
    border: 2px solid #333333; /* Dark border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Add padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    max-width: 300px; /* Set maximum width */
    margin: 20px auto; /* Center the card horizontally and provide spacing */
    color: yellow; /* Text color */
    background-size: cover; /* Cover the entire container with the background image */
    min-height: 550px; /* Set minimum height */
    max-height: 550px; /* Set maximum height */
  }
  
  .card-container h2 {
    color: rgb(255, 255, 255); /* Text color */
    margin-top: 0; /* Remove top margin from heading */
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Add shadow effect to the text */
    -webkit-text-stroke: 0.5px black; /* Add outline to the text */
    font-weight: bold; /* Make the text bold */
  }
  
  .card-container p {
    color: rgb(255, 255, 255); /* Text color */
    margin-bottom: 0; /* Remove bottom margin from paragraph */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);  /* Add shadow effect to the text */
    -webkit-text-stroke: 0.5px black; /* Add outline to the text */
    font-weight: bold; /* Make the text bold */
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */
    min-height: 500px; /* Set minimum height */
    max-height: 500px; /* Set maximum height */
    overflow: hidden
  }
  